<ion-view title="Profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header profile">

  <div class="list">

    <img class="avatar" src="http://www.webnified.com/img/team/profile-card/logi-irl.png" alt="Profile Picture">

    <label class="item item-input item-floating-label">
      <span class="input-label">Full name</span>
      <input type="text" placeholder="Full name" value="Logi Ebil">
    </label>

    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="Email" value="info@webnified.com">
    </label>

    <label class="item item-input item-floating-label">
      <span class="input-label">Mobile #</span>
      <input type="text" placeholder="Mobile #" value="091234567890">
    </label>

    <div class="padding">
      <button class="button button-block button-positive">Update</button>
    </div>
  </div>
  </ion-content>
</ion-view>
