<ion-view title="EntrePinoy" class="service">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-outline button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href="#/app/share" class="button button-outline button-icon icon ion-share"></a>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true">

    <h3 class="heading padding">How can we help you?</h3>
    <p class="lead">We are the right people and you're at the right time.</p>
    <div class="padding">

        <a href="#/app/contact" class="button services-cta button-light button-block icon-right ion-ios7-arrow-forward">
          <img class="images" src="http://www.webnified.com/img/what-we-do/web-design-and-dev.png">
          I need a website
        </a>

        <a href="#/app/contact" class="button services-cta button-light button-block icon-right ion-ios7-arrow-forward">
          <img class="images" src="http://www.webnified.com/img/what-we-do/mobile-apps.png">
          I need a mobile app
        </a>

        <a href="#/app/contact" class="button services-cta button-light button-block icon-right ion-ios7-arrow-forward">
          <img class="images" src="http://www.webnified.com/img/what-we-do/cloud-apps.png">
          I need a web app
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
