<ion-view title="Share">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-settings-strong"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true">
    <h3 class="heading">Share this app</h3>
    <p class="lead">Spread the good news, share this app.</p>
    <div class="social">
      <div class="social-widget">
        <img class="social-widget-icon" src="img/facebook.png">
      </div>
      <div class="social-widget">
        <img class="social-widget-icon" src="img/twitter.png">
      </div>
      <div class="social-widget">
        <img class="social-widget-icon" src="img/g+.png">
      </div>
    </div>
  </ion-content>
</ion-view>
